<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/styleTable.css" />
</head>

<body>
    {{>navbar}}
    <div class="main">
    <a href="/employees/add" class="addbtn">Add New Employee</a>
    <div class="container2">
        <table>
            <tr class="header">
                <th>Employee id</th>
                <th>Employee name</th>
            </tr>
            {{#each employees}}
            <tr onclick="window.location.href='/employees/{{employee_id}}/view';" style="cursor:pointer">
                <td>{{employee_id}}</td>
                <td>{{employee_name}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    </div>

</body>

</html>