table
{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    border-collapse: collapse;
    width:85%;
    height:auto;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0);
    background-color: white;
}

table caption
{
    color: orangered;
    font-weight: bold;
    margin-bottom: 15px;
}

tr
{
    transition: all .2s ease-in;
    cursor: pointer;
}

th,td
{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.header
{
    background-color: blue;
    color: #fff;
}

tr:hover
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0);
}

.header:hover
{
    background-color: blue;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0);
}
